
@font-face {
    font-family: 'Akura Popo';
    src: url('../fonts/otf/Akura Popo.otf');
}

@font-face {
    font-family: 'Barrio-Regular';
    src: url('../fonts/otf/Barrio-Regular.otf');
}

@font-face {
    font-family: 'Canter Bold 3D';
    src: url('../fonts/otf/Canter Bold 3D.otf');
}

@font-face {
    font-family: 'Canter Bold Shadow';
    src: url('../fonts/otf/Canter Bold Shadow.otf');
}

@font-face {
    font-family: 'Canter Bold Strips';
    src: url('../fonts/otf/Canter Bold Strips.otf');
}

@font-face {
    font-family: 'Canter Bold';
    src: url('../fonts/otf/Canter Bold.otf');
}

@font-face {
    font-family: 'Canter Light';
    src: url('../fonts/otf/Canter Light.otf');
}

@font-face {
    font-family: 'Canter Outline';
    src: url('../fonts/otf/Canter Outline.otf');
}

@font-face {
    font-family: 'GearusBold';
    src: url('../fonts/otf/GearusBold.otf');
}

@font-face {
    font-family: 'GearusBook';
    src: url('../fonts/otf/GearusBook.otf');
}


@font-face {
    font-family: 'GearusHeavy';
    src: url('../fonts/otf/GearusHeavy.otf');
}


@font-face {
    font-family: 'GearusLight';
    src: url('../fonts/otf/GearusLight.otf');
}


@font-face {
    font-family: 'GearusSerifThin';
    src: url('../fonts/otf/GearusSerifThin.otf');
}

@font-face {
    font-family: 'GearusThin';
    src: url('../fonts/otf/GearusThin.otf');
}

@font-face {
    font-family: 'KlinicSlabBold';
    src: url('../fonts/otf/GearusThin.otf');
}


body
{
    padding: 200px 0;
    font-family: 'Akura Popo';
    font-size: 3em;
    color: #fff;
    text-align: center;
    background-color: #1abc9c;
}

.title {
    display: inline-block;
}
